@import (reference) "./variables.less";
@import "./icons.less";

/* GLOBALS */

html,
body,
p,
span,
em,
strong,
i,
b {
  font-family: "booster", system-ui, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "pnum";
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
}

body {
  font-size: 16px;
  color: @boost-secondary;
  background-color: #fff;
  line-height: 1.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: @boost-secondary;
  font-family: "booster serif", serif;
  line-height: 1em;
  font-weight: 500;
  margin-bottom: 1.45rem;
  text-rendering: optimizeLegibility;

  & a {
    color: inherit;
  }
}

h1 {
  font-size: 2.6rem;
  line-height: 3.77rem;
}
h2 {
  font-size: 1.970436rem;
  line-height: 2.8275rem;
}
h3 {
  font-size: 1.715363rem;
  line-height: 2.8275rem;
}
h4 {
  font-size: 1.3rem;
  line-height: 1.885rem;
}
h5 {
  font-size: 1.131715rem;
  line-height: 1.885rem;
}
h6 {
  font-size: 1.055925rem;
  line-height: 1.885rem;
}

p {
  margin-bottom: 1.45rem;
}

a {
  opacity: 1;
  color: @boost-primary;
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
}

button {
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
  color: inherit;
  font-family: "booster", system-ui, sans-serif;
  line-height: inherit;
  font-size: inherit;
  margin: 0;
  -webkit-appearance: none;
  padding: 0;
}

/* GLOBAL RESETS */

input,
input:focus,
textarea:focus,
select:focus optgroup,
select,
textarea,
.link:focus,
:focus,
img {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* GLOBAL HELPERS */

.br3 {
  border-radius: 3px;
}

.noflick {
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flex-fluid-img > * {
  flex-grow: 1;
}

.raise:hover,.raise:focus {
  transition: transform 0.2s ease-out;
  transform: translateY(-2px)
}

.well {
  padding: 1rem;
  position: relative;
  background-color: @boost-secondary-fade-05;
  border-radius: 4px;
}