@import (reference) "./variables.less";

html,
body,
p,
span,
em,
strong,
i,
b {
  font-family: "booster", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 16px;
  color: @boost-secondary;
  background-color: #fff;
  line-height: 1.4em;
}

h1,h2,h3,h4,h5,h6 {
  color: @boost-secondary;
  font-family: "booster serif", serif;
  padding-bottom: 10px;
  line-height: 1em;
  font-weight: 500
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
  color: inherit
}

h1 {
  font-size: 30px
}

h2 {
  font-size: 26px
}

h3 {
  font-size: 22px
}

h4 {
  font-size: 18px
}

h5 {
  font-size: 16px
}

h6 {
  font-size: 14px
}

a {
  opacity: 1;
  color: @boost-primary;
  transition: opacity .2s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
}

button {
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
  color: inherit;
  font-family: "booster", system-ui, sans-serif;
  line-height: inherit;
  font-size: inherit;
  margin: 0;
  -webkit-appearance: none;
  padding: 0;
}

input,
input:focus,
textarea:focus,
select:focus optgroup,
select,
textarea,
.link:focus,
:focus,
img {
  outline: none;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

::-webkit-input-placeholder,
::placeholder {
  color: @boost-secondary-50;
  opacity: 1;
  font-weight: normal;
  font-style: normal;
}
:-ms-input-placeholder,
::-ms-input-placeholder {
  color: @boost-secondary-50;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.br3 {
  border-radius: 3px;
}

.noflick {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}