/*FONTS*/

@font-face {
  font-family: "booster";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/booster-Regular.eot");
  src: url("/fonts/booster-Regular.eot?#iefix") format("embedded-opentype"),
  url("/fonts/booster-Regular.woff2") format("woff2"),
  url("/fonts/booster-Regular.woff") format("woff");
}

@font-face {
  font-family: "booster";
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/booster-Italic.eot");
  src: url("/fonts/booster-Italic.eot?#iefix") format("embedded-opentype"),
  url("/fonts/booster-Italic.woff2") format("woff2"),
  url("/fonts/booster-Italic.woff") format("woff");
}

@font-face {
  font-family: "booster";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/booster-Bold.eot");
  src: url("/fonts/booster-Bold.eot?#iefix") format("embedded-opentype"),
  url("/fonts/booster-Bold.woff2") format("woff2"),
  url("/fonts/booster-Bold.woff") format("woff");
}

@font-face {
  font-family: "booster";
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/booster-BoldItalic.eot");
  src: url("/fonts/booster-BoldItalic.eot?#iefix") format("embedded-opentype"),
  url("/fonts/booster-BoldItalic.woff2") format("woff2"),
  url("/fonts/booster-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "booster";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/booster-ExtraBold.eot");
  src: url("/fonts/booster-ExtraBold.eot?#iefix") format("embedded-opentype"),
  url("/fonts/booster-ExtraBold.woff2") format("woff2"),
  url("/fonts/booster-ExtraBold.woff") format("woff");
}

@font-face{
  font-family: "booster serif";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/boosterserif.eot");
  src: url("/fonts/boosterserif.eot?#iefix") format("embedded-opentype"),
  url("/fonts/boosterserif.woff2") format("woff2"),
  url("/fonts/boosterserif.woff") format("woff");
}

@font-face {
  font-family: "boosticons";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/boosticons.eot?ht6ldm");
  src: url("/fonts/boosticons.eot?ht6ldm#iefix") format("embedded-opentype"),
  url("/fonts/boosticons.woff?ht6ldm") format("woff"),
  url("/fonts/boosticons.ttf?ht6ldm") format("truetype"),
  url("/fonts/boosticons.svg?ht6ldm#boosticons") format("svg");
} 

@font-face {
  font-family: "ElegantIcons";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/ElegantIcons.eot");
  src: url("/fonts/ElegantIcons.eot#iefix") format("embedded-opentype"),
  url("/fonts/ElegantIcons.woff") format("woff"),
  url("/fonts/ElegantIcons.ttf") format("truetype"),
  url("/fonts/ElegantIcons.svg#boosticons") format("svg");
}

.booster {
  font-family: "booster", sans-serif;
}

.booster-serif {
  font-family: "booster serif", serif;
}

.boosticon {
  font-family: "boosticons";
}

i {
  font-family: "boosticons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eleganticon {
  font-family: "ElegantIcons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TAILWIND */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
